<a href="https://colab.research.google.com/github/suriarasai/BEAD2025/blob/main/colab/02a_Functional_Programming_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple Excercises

#### Exercise 1: Basic Tuple Operations
Step 1: Creating a Tuple

We need to create a tuple named fruits containing "apple", "banana", and "cherry".
```
# Creating the tuple
fruits = ("apple", "banana", "cherry")
```
Step 2: Modifying an Item in the Tuple
Next, we will attempt to change the second item (currently "banana") to "strawberry". This is where we will encounter the immutable nature of tuples.
```
try:
    # Attempting to change the second item
    fruits[1] = "strawberry"
except TypeError as e:
    # Capturing and printing the error
    print("Error:", e)
```
Expected Outcome:
When we run the above code, it should raise a TypeError because tuples are immutable, and we cannot change their elements once created. The error message will provide insights into why the operation is not allowed.

In Python, attempting to modify an item in a tuple will result in a TypeError similar to "TypeError: 'tuple' object does not support item assignment". This demonstrates the immutable property of tuples.

In [ ]:
# Creating the tuple
fruits = ("apple", "banana", "cherry")
print(fruits)
# {} class object [] list () tuple
try:
    # Attempting to change the second item
    fruits[1] = "strawberry"
except TypeError as e:
    # Capturing and printing the error
    print("Error:", e)

('apple', 'banana', 'cherry')

### Exercise 2: Working with Named Tuples

For creating a named tuple Car with fields make, model, and year, instantiating it, and printing each field:

In [ ]:
from collections import namedtuple

# Define the namedtuple 'Car'
Car = namedtuple('Car', ['make', 'model', 'year'])

# Instantiate a Car object named 'my_car' with appropriate values
my_car = Car(make='Honda', model='Jazz', year=2022)

# Printing each field of 'my_car'
print(f"Make: {my_car.make}")
print(f"Model: {my_car.model}")
print(f"Year: {my_car.year}")

Make: Honda
Model: Jazz
Year: 2022

### Exercise 3: Advanced Usage of Named Tuples
We have extended the Car named tuple to include a method age that calculates the age of the car based on the current year. Here's the Python solution:

In [1]:
from collections import namedtuple
import datetime

# Extend the namedtuple 'Car' to include a method 'age'
class Car(namedtuple('Car', ['make', 'model', 'year'])):
    # To prevent use of Dictionary
    __slots__ = ()

    def age(self):
        current_year = datetime.datetime.today().year
        return current_year - self.year

# Instantiate a Car object
my_car = Car(make='Honda', model='Civic', year=2015)

# Use the age method to find its age
print(my_car.age())

10

When running this code with a Car object representing a Honda Civic from the year 2015, it calculates that the car is 8 years old.

### Exercise 4: Exploring Tuple Unpacking
For creating a tuple coordinates with values (10, 20, 30), unpacking these values into variables x, y, and z, and then printing them:

In [ ]:
# Create a tuple 'coordinates' with values (10, 20, 30)
coordinates = (10, 20, 30, 40, 50)

# Unpack these values into variables x, y, and z
x, y, z, a, b = coordinates

# Print the variables
print(f"x: {x}, y: {y}, z: {z}")

x: 10, y: 20, z: 30

### Exercise 5: Practical Application of Named Tuples

We must first create a named tuple Student with fields name, roll_number, and grade, and a list of Student instances representing a class of students. Then, we write a function to calculate the average grade of the class.

In [2]:
from collections import namedtuple

# Define the namedtuple 'Student'
Student = namedtuple('Student', ['name', 'roll_number', 'grade'])

# Create a list of Student instances representing a class of students
class_students = [
    Student(name='Anong', roll_number=1, grade=85),
    Student(name='Budi', roll_number=2, grade=90),
    Student(name='Chai', roll_number=3, grade=75),
    Student(name='Dao', roll_number=4, grade=88),
    Student(name='Lim', roll_number=5, grade=92)
]

# Function to find the average grade of the class
def average_grade(students):
    total_grade = sum(student.grade for student in students)
    return total_grade / len(students)

# Calculate the average grade and print
print(average_grade(class_students))

86.0

## Map Exercises
### Exercise 1: Basic Usage of map
We create a tuple of numbers first. Followed by a map function call to create the square of every element

In [ ]:
# Create a list of numbers
numbers = (1, 2, 3, 4, 5)

# Beginners
f1 = lambda x: x**2
result = map(f1, numbers)
answer = tuple(result)
print(answer)

# Use the map function to create a new list where each number is squared and print
print(tuple(map(lambda x: x**2, numbers)))

[1, 4, 9, 16, 25]

### Exercise 2: Using map with Named Tuples
We define a named tuple Person with fields name and age, created a list of Person instances, and then use the map function to increase the age of each person by 1 year, creating a list of the updated persons.

In [ ]:
from collections import namedtuple

# Define the namedtuple 'Person'
Person = namedtuple('Person', ['name', 'age'])

# Create a list of Person instances
people = [
    Person(name='Alice', age=30),
    Person(name='Bob', age=25),
    Person(name='Charlie', age=40)
]

# Function to increase the age of a person by 1 year
def increase_age(person):
    return Person(name=person.name, age=person.age + 1)

# Use the map function to increase the age of each person by 1 year
print(list(map(increase_age, people)))

[Person(name='Alice', age=31), Person(name='Bob', age=26), Person(name='Charlie', age=41)]

### Exercise 3: Combining map and Lambda Functions
We create a list of tuples where each tuple is a coordinate (x, y) and use map with a lambda function to create a new list where each coordinate is translated by adding 1 to both x and y values.

In [ ]:
# Create a list of tuples where each tuple is a coordinate (x, y)
coordinates = [(2, 3), (4, 5), (6, 7), (8, 9)]

# Use map with a lambda function to translate each coordinate by adding 1 to both x and y values
print(list(map(lambda coord: (coord[0] + 1, coord[1] + 1), coordinates)))

[(3, 4), (5, 6), (7, 8), (9, 10)]

### Exercise 4: Multiple Iterables with map
We create two lists of equal length, one with names and the other with ages, and define a named tuple Person with fields name and age. Then, we use map to create a list of Person instances using these two lists.

In [4]:
from collections import namedtuple

# Define the namedtuple 'Person'
Person = namedtuple('Person', ['name', 'age'])

# Create two lists of equal length: one with names, another with ages
names = ['Amir', 'Bianca', 'Divya']
ages = [30, 25, 40]

# Use map to create a list of Person instances using the two lists
print(list(map(Person._make, zip(names, ages))))

[Person(name='Amir', age=30), Person(name='Bianca', age=25), Person(name='Divya', age=40)]

### Exercise 5: Advanced Application of map
We create a list of named tuples representing products, each with fields name and price. We then write a function that applies a discount to the price. We can also set the dicount percentage as a variable (to accomodate future changes). Using map, this function can be applied to all products to generate a list of products with discounted prices.

In [ ]:
from collections import namedtuple

# Define the namedtuple 'Product'
Product = namedtuple('Product', ['name', 'price'])

# Create a list of named tuples representing products
products = [
    Product(name='Laptop', price=1000),
    Product(name='Smartphone', price=500),
    Product(name='Headphones', price=150)
]

# Function that applies a discount to the price
def apply_discount(product, discount_percent):
    discounted_price = product.price * (1 - discount_percent / 100)
    return Product(name=product.name, price=discounted_price)

# Discount percentage
discount_percent = 10  # 10% discount

# Use map to apply the discount function to all products
print(list(map(lambda p: apply_discount(p, discount_percent), products)))

[Product(name='Laptop', price=900.0), Product(name='Smartphone', price=450.0), Product(name='Headphones', price=135.0)]

## Filter Exercises
#### Exercise 1: Basic Usage of filter
We can use lambda in the filter function to create a new list with only the even numbers, followed by printing the result.

In [ ]:
# Create a list of numbers
numbers = [1, 2, 3, 4, 5, 6]

# Use the filter function to create a new list with only even numbers
print(list(filter(lambda x: x % 2 == 0, numbers)))

[2, 4, 6]

#### Exercise 2: Filtering with Named Tuples
We define a named tuple Employee with fields name and department. The we create a list of Employee instances, and then further use the filter function to create a list of employees who belong to the "Sales" department.

In [3]:
from collections import namedtuple

# Define the namedtuple 'Employee'
Employee = namedtuple('Employee', ['name', 'department'])

# Create a list of Employee instances
employees = [
    Employee(name='Brandon', department='Sales'),
    Employee(name='Charmaine', department='Marketing'),
    Employee(name='Darren', department='Sales'),
    Employee(name='Ethan', department='IT'),
    Employee(name='Farah', department='HR')
]

# Use the filter function to create a list of employees who belong to the "Sales" department
print(list(filter(lambda e: e.department == 'Sales', employees)))

[Employee(name='Brandon', department='Sales'), Employee(name='Darren', department='Sales')]

#### Exercise 3: Combining filter and Lambda Functions
We create a list of named tuples representing products, each with fields name and price. Then, we use filter with a lambda function to create a list of products whose price is greater than $50.

In [ ]:
from collections import namedtuple

# Define the namedtuple 'Product'
Product = namedtuple('Product', ['name', 'price'])

# Create a list of named tuples representing products
products = [
    Product(name='Laptop', price=1000),
    Product(name='Smartphone', price=500),
    Product(name='Headset', price=150),
    Product(name='Mouse', price=25),
    Product(name='Keyboard', price=45)
]

# Use filter with a lambda function to create a list of products whose price is greater than $50
print(list(filter(lambda p: p.price > 50, products)))

[Product(name='Laptop', price=1000), Product(name='Smartphone', price=500), Product(name='Headphones', price=150)]

#### Exercise 4: Advanced Filtering
First we create a named tuple Student with fields name, grade, and major, and created a list of Student instances. Then, we use filter to find students who have a grade above a certain threshold and are in a specific major.

In [5]:
from collections import namedtuple

# Define the namedtuple 'Student'
Student = namedtuple('Student', ['name', 'grade', 'major'])

# Create a list of Student instances
students = [
    Student(name='Fathimah', grade=90, major='Computer Science'),
    Student(name='Grace', grade=85, major='Mathematics'),
    Student(name='Hui', grade=92, major='Computer Science'),
    Student(name='Ishani', grade=78, major='Computer Science'),
    Student(name='Jin', grade=88, major='Mathematics')
]

# Define the grade threshold and specific major
grade_threshold = 85
specific_major = 'Computer Science'

# Use filter to find students who have a grade above the threshold and are in the specific major
print(list(filter(lambda s: s.grade > grade_threshold and s.major == specific_major, students)))

[Student(name='Fathimah', grade=90, major='Computer Science'), Student(name='Hui', grade=92, major='Computer Science')]

#### Exercise 5: Practical Application
We define a named tuple Book with fields title, author, and genre, and created a list of Book instances. Then, we write a function to filter out books of a particular genre and by a specific author, using filter function.

In [ ]:
from collections import namedtuple

# Define the namedtuple 'Book'
Book = namedtuple('Book', ['title', 'author', 'genre'])

# Create a list of Book instances
books = [
    Book(title='The Argumentative Indian', author='Amartya Sen', genre='Non Fiction'),
    Book(title='Maximum City: Bombay Lost and Found', author='Suketu Mehta', genre='Non Fiction'),
    Book(title='Sapiens: A Brief History of Humankind', author='Yuval Noah Harari', genre='Anthropology'),
    Book(title='Thinking, Fast and Slow', author='Daniel Kahneman', genre='Creativity'),
    Book(title='Atomic Habits', author='James Clear', genre='NYTB')
]

# Function to filter out books of a particular genre and by a specific author
def filter_books(books, specific_genre, specific_author):
    return list(filter(lambda book: book.genre == specific_genre and book.author == specific_author, books))

# Example usage: Filter out dystopian books by George Orwell
print(filter_books(books, 'NYTB', 'James Clear'))

[Book(title='Atomic Habits', author='James Clear', genre='NYTB')]

## Reduce Excercises
#### Exercise 1: Basic Usage of reduce
We first create a tuple of numbers and then use reduce to calculate the sum of these numbers using a lambda expression.

In [ ]:
from functools import reduce

# Create a tuple of numbers
numbers = (1, 2, 3, 4, 5)

# Use reduce to calculate the sum of these numbers and print
print(reduce(lambda x, y: x + y, numbers))

15

#### Exercise 2: Finding Maximum with reduce
We create a tuple of integers and then use reduce function with a lambda expression to find the maximum value.

In [ ]:
from functools import reduce

# Create a tuple of integers
integers = (10, 30, 25, 60, 45, 20, 35)

# Use reduce with a lambda function to find the maximum value in the tuple
print(reduce(lambda x, y: x if x > y else y, integers))

60

#### Exercise 3: Concatenating Strings
We create a tuple of strings using the phrases hinted. Then use reduce function with a lambda expression to concatenate.

In [ ]:
from functools import reduce

# Create a tuple of strings
words = ('Hello', 'world', 'Python', 'is', 'awesome')

# Use reduce to concatenate these strings into a single sentence
print(reduce(lambda x, y: x + " " + y, words))

Hello world Python is awesome

#### Exercise 4: Multiplying Elements
We create a tuple of integers. Then use reduce function with a lambda expression with two arguments to multiply.

In [ ]:
from functools import reduce

# Create a tuple containing a series of numbers
numbers = (1, 2, 3, 4, 5)

# Use reduce to multiply all the numbers in the tuple
print(reduce(lambda x, y: x * y, numbers))

120

#### Exercise 5: Custom Reduce Operation
Key step is to use zip() function. The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

So we create the tuple of tuples as hinted. Define sum of tuples function using add operator and zip function. Now we use reduce function, pass the function and tuple as arguments.

In [ ]:
from functools import reduce

# Create a tuple of tuples, each inner tuple contains a pair of numbers
number_pairs = ((1, 2), (3, 4), (5, 6))

# Define a function that takes two tuples as arguments and returns a new tuple with the sum of corresponding elements
def sum_tuples(tup1, tup2):
    return tuple(x + y for x, y in zip(tup1, tup2))

# Use reduce to apply this function across the tuple of tuples
print(reduce(sum_tuples, number_pairs))

(9, 12)